<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">

    <title>Movies</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>
<header id="slider-area">
    <div id="carousel-area">
        <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="https://wallpapercave.com/wp/2jk7Vgg.jpg" alt="pic" width="100%" height="658px">
                    <div class="carousel-caption text-center">
                        <h2 class="wow bounceIn" data-wow-delay="0.6s">Browse movies</h2>
                        <form action="/ui/movie" method="get">
                            <button type="submit" class="btn btn-lg btn-common btn-effect wow fadeInUp" data-wow-delay="1.2s" style="width: 250px">Enter the application</button>
                        </form>
                       </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>